@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


/* sound cards */
.sound-card{
  padding:50px 25px;
  width:80%;
  text-align: center;
  border:solid 1px;
  margin:30px 20px;
  border-radius: 8%;
  background-color:#FEB139;

}
.sound-icon{
  width: 50px;
  height: 50px;

}

.sound-card:hover{
  background-color:#E4AEC5;

}

body {
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(121,9,119,1) 35%, rgba(0,212,255,1) 100%);}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}
.container{
  padding-top:70px;
}
/* shuffle button */
.shuffle-button{
  border-radius: 100%;
  float:right;
  position: absolute;
  right:200px;
}
.zen-title{
  margin-left:50px;
}
