@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

/* sound cards */
.sound-card{
  padding:50px 25px;
  width:80%;
  text-align: center;
  border:solid 1px;
  margin:30px 20px;
  border-radius: 8%;
  background-color:#E9D5DA;

}
.sound-icon{
  width: 50px;
  height: 50px;

}

.sound-card:hover{
  background-color:#E4AEC5;

}

body {
  background-color:#827397;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}
.container{
  padding-top:50px;
}
